<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.BaseLib" version="5.4.21" targetFramework="net48" />
  <package id="BepInEx.Core" version="5.4.21" targetFramework="net48" />
  <package id="Figgle" version="0.5.1" targetFramework="net48" />
  <package id="HarmonyX" version="2.10.2" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.11.5" targetFramework="net48" />
  <package id="MonoMod.Backports" version="1.0.1" targetFramework="net48" />
  <package id="MonoMod.Core" version="1.0.1" targetFramework="net48" />
  <package id="MonoMod.ILHelpers" version="1.0.0" targetFramework="net48" />
  <package id="MonoMod.RuntimeDetour" version="25.0.2" targetFramework="net48" />
  <package id="MonoMod.Utils" version="25.0.3" targetFramework="net48" />
  <package id="UnityEngine.Modules" version="2022.3.9" targetFramework="net48" developmentDependency="true" />
</packages>